/*******************global*********************/
html {
  font-size: 62,5%;
}
* {
  box-sizing:border-box;
}
body {
  max-width: 90%;
  margin:0 auto;
  font-size: 1.6rem;

}

/********************header**********************/
header {
  text-align: center;
  background-color: rgba(4, 80, 204, 0.5);
  padding:1em;
}
header img {
  width: 200px;
  margin: 20px;
}
nav {
  text-align: center;
}
h1 {
  color: #fff;
  margin: 0;
  padding-bottom: 20px;
}
/********************content*********************/
#content {
  background-color: rgba(4, 80, 204, 0.5);
  padding:1em;

}
#canard a {
  color:   background-color: rgba(4, 80, 204, 0.5);
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin: 20px;
  text-decoration: none;

}
.button {
  text-align: center;
}

.bulle {
  min-width: 70%;
  max-width: 100%;

  background-color: #fff;
  border-radius: 25px;
}

#canard img {
  max-width: 100%;
}

footer {
  width: 100%;
  padding: 50px;
  text-align: center;
  background-color: rgba(4, 80, 204, 0.5);
}
footer p {
  color: #666;
  margin: 0;
}
/********************media***********************/
